body{
    background-color: #398FA0;
}

.bandeau h1{
    text-align: center;
}

.bandeau h2{
    text-align: center;
    font-style: italic;
}

.menu{
    background-color: #C7B59E;
    height: 60pt;
    width: 102.5%;
    margin-left: -2%;
    margin-right: -2%;
}

.bandeau img{
    transform: rotate(90deg);
    width: 15%;
    padding-top: 10%;
    margin-left: 47%;
}

.text1{
    background-color: #C7B59E ;
    padding-right: 2%;
    margin-left: -2%;
}
.text1 p {
    background-color: #C7B59E;
    font: oblique 14px Arial,Helvetica,sans-serif;
    
    float: left;
    width: 47%;
    font-size: 1.2em;
    padding-right: 5%;
    margin-bottom: -0.001%;
    margin-left: 1.5%;
}

.text1 img{
    margin-left: 120%;
    width: 35%;
    margin: 0;
    padding-top: 1%;
}    

.text2 img{
    width: 30%;
    float: left;
    margin: 0;
    margin-right: 80%;
    margin-left: -2%;
    width:53.5%;
}

.text2 p {
    background-color: #C7B59E;
    font: oblique 14px Arial,Helvetica,sans-serif;
    line-height: 130%;
    width: 47%;
    margin-right: -0.5%;
    font-size: 1.2em;
    float: right;
    margin-top: -30.25%;
    padding-bottom: 0.3%;
    padding-left: 2%;
}

